#SeatMap {
}

h1 {
    text-align: right;
}

.container {
    display: inline-grid;
    width: 30%;
    margin: auto;
}

.grid td {
    width: 25px;
    height: 35px;
    padding-left: 60px;
    padding: 50px 50px;
    border: 2px solid black;
    text-align: center;
    float: right;
    margin: 2px;
}

.grid td:hover {
    opacity: .7;
    cursor: pointer;
}

.reserved {
    background: green;
    color: #fff;
    display: inline-flex;
}

/*.reserved::after {*/
/*    content: */
/*}*/

/*.available::after {*/
/*    content: 'A'*/
/*}*/

.available {
    color: #333;
}

li {
    list-style: none;
}